<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#init_create" aria-controls="init_create" role="tab" data-toggle="tab">
            <%= t('general.creation') %>
        </a>
    </li>
    <li role="presentation" class="">
        <a href="#init_examples" aria-controls="init_examples" role="tab" data-toggle="tab">
            <%= t('general.examples') %>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="init_create">
        <div style="padding: 10px;">
            <%= render partial: "init_create" %>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="init_examples">
        <div style="padding: 10px;">
            <%= render partial: "init_examples" %>
        </div>
    </div>
</div>
