<h2>About</h2>
The Semantic Container solution is open source, standards-based, and offers a light-weight infrastructure to make open and commercial data available in an auditable and reproducible way.

<h2>Resources</h2>
<ul>
	<li>Web site: <a href="https://www.ownyourdata.eu/en/semcon">https://www.ownyourdata.eu/semcon</a></li>
	<li>White Paper: <a href="https://www.ownyourdata.eu/downloads/whitepaper">https://www.ownyourdata.eu/semcon/whitepaper</a></li>
	<li>Sourcecode on Github: <a href="https://github.com/sem-con">https://github.com/sem-con</a></li>
	<li>Docker Images on Dockerhub: <a href="https://hub.docker.com/u/semcon">https://hub.docker.com/u/semcon</a></li>
	<li>Swagger API Description: <a href="https://api-docs.ownyourdata.eu">https://api-docs.ownyourdata.eu</a></li>
</ul>

<h2>Contact</h2>
<ul>
	<li>Email: <a href="mailto:semcon@ownyourdata.eu">semcon@ownyourdata.eu</a></li>
	<li>Issues & feature requests: <a href="https://github.com/sem-con/sc-base/issues">Github Issue Tracker</a></li>
	<li>Address: Public charity to foster personal use of data<br>
	Michael-Scherz Straße 14, 2540 Bad Vöslau, Austria</li>
</ul>
