<h2>Über Semantic Container</h2>
Die Semantic Container-Lösung ist Open Source, basiert auf Standards und bietet eine schlanke Infrastruktur, um offene und kommerzielle Daten überprüfbar und reproduzierbar zur Verfügung zu stellen.

<h2>weitere Informationen</h2>
<ul>
	<li>Website: <a href="https://www.ownyourdata.eu/de/semcon">https://www.ownyourdata.eu/semcon</a></li>
	<li>White Paper: <a href="https://www.ownyourdata.eu/downloads/whitepaper">https://www.ownyourdata.eu/semcon/whitepaper</a></li>
	<li>Sourcecode auf Github: <a href="https://github.com/sem-con">https://github.com/sem-con</a></li>
	<li>Docker Images auf Dockerhub: <a href="https://hub.docker.com/u/semcon">https://hub.docker.com/u/semcon</a></li>
	<li>Swagger API Description: <a href="https://api-docs.ownyourdata.eu">https://api-docs.ownyourdata.eu</a></li>
</ul>

<h2>Kontakt</h2>
<ul>
	<li>Email: <a href="mailto:semcon@ownyourdata.eu">semcon@ownyourdata.eu</a></li>
	<li>Fehler & Anregungen: <a href="https://github.com/sem-con/sc-base/issues">Github Issue-Tracker</a></li>
	<li>Adresse: Verein zur Förderung der selbstständigen Nutzung von Daten<br>
	Michael-Scherz Straße 14, A-2540 Bad Vöslau</li>
</ul>
