<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#prov_create" aria-controls="prov_create" role="tab" data-toggle="tab">
            <%= t('general.creation') %>
        </a>
    </li>
    <li role="presentation" class="">
        <a href="#prov_visualize" aria-controls="prov_visualize" role="tab" data-toggle="tab">
            <%= t('general.visualizing') %>
        </a>
    </li>
    <li role="presentation" class="">
        <a href="#prov_examples" aria-controls="prov_examples" role="tab" data-toggle="tab">
            <%= t('general.examples') %>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="prov_create">
        <div style="padding: 10px;">
            create provenance trail
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="prov_visualize">
        <div style="padding: 10px;">
            visualize provenance trail
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="prov_examples">
        <div style="padding: 10px;">
            examples for  provenance trails
        </div>
    </div>
</div>